
h2, h3, h4, h5, h6 {
    /* --js-line-height is expected to be set in the outer element by runion_01 */
    margin-block-start: calc(1pt * var(--js-line-height) * var(--document-font-size));
}

.short > h2:first-child{
    margin-block-start: 0;
}

nav.relative-navigation ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.relative-navigation li {
    display: inline;
}

header, nav, footer, .content-page{
    --font-family: var(--headlines-font-family);
    --grad-animation-name: var(--headlines-font-grad-animation-name);
    --font-xtra: var(--headlines-font-xtra);
}
footer{
    --font-size-rem: 3/4;
}

figure {
    margin-block-start: calc(1pt * var(--font-size) * var(--line-height));
    margin-block-end:   calc(1pt * var(--font-size) * var(--line-height));
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-indent: 0;

    background: #efefef;
    border: .125em solid #efefef;
    box-sizing: border-box;

    /* IMPORTANT
     * justificationController detects the changed parameters (family, size...)
     * that influence justification and sets different css custom parameters
     * to the ".runion-justification-host" element.
     */
    --font-family: var(--headlines-font-family);
    --grad-animation-name: var(--headlines-font-grad-animation-name);
    --font-xtra: var(--headlines-font-xtra);
    /*
     *  9 pt if default is 12 pt, same as in wikipedia page UI:
     * .vector-menu-portal .body li, .vector-menu-portal .vector-menu-content li
     */
    --font-size-rem: 0.82;
}

figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background: white; /* Got some images with transparency. */
}

figure .enumeration {
    display: block;
    --font-weight: 700;
}


body {
    --body-margin: 2.6666; /*1 em of the header */
    margin: 0 calc(1em * var(--body-margin));
}


.container-toggle-user_settings:not(#page_portal-testbed *) {
    /* Must be moved to the left to be right at the edge. */
    margin-left: calc(-1pt * var( --body-margin) * var(--font-size));
}

header {
    --font-size-rem: 2.6666; /* ~ 32 pt @ 12 pt body*/
    padding: 2em 0 0 0;
}

header .title{
    --font-family: var(--headlines-font-family);
    --grad-animation-name: var(--headlines-font-grad-animation-name);
    --font-xtra: var(--headlines-font-xtra);

    /* inherited from header --font-size-rem: 2.6666; /* ~ 32 pt @ 12 pt body*/
    --font-weight: 200;
    /* Used to be 1.0; but this shouls anyways rather scale down than break. */
    /* --line-height: must be applied on a block element. */
    display: block;
    --line-height: .8;
    --font-width: 30;
    --hyphens: none;
}

blockquote {
    /* "pull spec"/pull quotes */
    --font-family: var(--body-font-family);
    --grad-animation-name: var(--body-font-grad-animation-name);
    --font-xtra: var(--body-font-xtra);

    /* FIXME: this is a hack and only works because AmstelVar and RobotoFlex
     * have no overlap in how to create italic/slanted text:
     * RobotoFlex, it doesn't have an italic, it has a slnt axis though, -10 is fully slanted.
     * AmstelVar, it doesn't have a slnt axis, it has an italic font style though.
     * Using e.g. oblique 10deg in font-style is not yet supported anywhere
     * so we cannot use it.
     *
     */
    --font-style: italic; /* AmstelVar */
    --font-slnt: -10; /* RobotoFlex */
    --font-size-rem: 2.6666; /* ~ 32 pt @ 12 pt body*/
    --font-weight: 200;
    --line-height: 1.06; /* .06 to avoid collisions */
    --font-width: 50;
    margin-block-start: 0;
    /* --js-line-height is expected to be set the outer line-height */
    margin-block-end: calc(1pt * var(--js-line-height) * var(--document-font-size));
    text-indent: 0;
    /* These margins shrink depnding on available space.
     * MAYBE: this must go up to the column/margin definitions algorithm.
     * Especially the hardcoded values for min/max space are related to
     * the column widht algorithm.
     */
    animation-name: blockquote-margins;
    animation-duration: 1s;
    /* max --column-width-en is 65;
     * min can go down to 0  but a good min is like 30
     *
     * @max margin-inline: 1.5em 1em;
     * @min margin-inline: .5em 0;
     */
    --blockquote-margins-min-space: 30;
    --blockquote-margins-max-space: 65;
    --blockquote-margins-actual-space: clamp(
            var(--blockquote-margins-min-space),
            var(--column-width-en),
            var(--blockquote-margins-max-space)
            );
    --blockquote-margins-animation-progression: calc(
              (var(--blockquote-margins-actual-space) - var(--blockquote-margins-min-space))
            / (var(--blockquote-margins-max-space) - var(--blockquote-margins-min-space))
            );


    animation-delay: calc(-1s * var(--blockquote-margins-animation-progression));
    margin-inline-start: calc(0.5em + 1em * var(--variable-margin));
    margin-inline-end:   calc(0em + 1em * var(--variable-margin));
}

@property --variable-margin {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

@keyframes blockquote-margins {
    0% { /* <= 30 --column-width-en */
        --variable-margin:  0;
    }
    100% { /* >= 65 --column-width-en */
        --variable-margin: 1;
    }
}
