header {
    padding: 2em 0 0 0;
    --font-size-rem: 2;
    --font-weight: 600;
}

nav.relative-navigation ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.relative-navigation li {
    display: inline;
}

header, nav, footer, .content-page{
    --font-family: RobotoFlex;
    --font-stretch: 468;
}
footer{
    --font-size-rem: 3/4;
}


article{
    background: white;
}

figure {
    margin-block-start: calc(1pt * var(--x-font-size) * var(--x-line-height));
    margin-block-end:   calc(1pt * var(--x-font-size) * var(--x-line-height));
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-indent: 0;

    background: #efefef;
    border: .125em solid #efefef;
    box-sizing: border-box;

    /* IMPORTANT
     * justificationController detects the changed parameters (family, size...)
     * that influence justification and sets different css custom parameters
     * to the ".runion-justification-host" element.
     */
    --font-family: RobotoFlex;
    --font-stretch: 468; /*FIXME: consider full spec, including esp. --font-size (pt)*/
    /*
     *  9 pt if default is 12 pt, same as in wikipedia page UI:
     * .vector-menu-portal .body li, .vector-menu-portal .vector-menu-content li
     */
    --font-size-rem: 3/4;
}

figure img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    background: white; /* Got some images with transparency. */
}

figure .enumeration {
    display: block;
    --font-weight: 700;
}
