  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.override_title %}
    <title>{{page.override_title}}</title>
  {% else %}
    <title>Emsquare — Volume {{include.volume}} — Issue {{include.issue}}: {{page.title}}</title>
  {% endif %}



{%- for style in page.styles %}
  <link rel="stylesheet" href="{{ style | relative_url }}">
{%- endfor -%}
{%- for module in page.modules %}
  <script src="{{ module | relative_url }}" async type="module"></script>
{%- endfor -%}
