
:root{
    --text-wght: 375;
    --text-wdth: 100;
    --text-opsz: 16;
    --text-GRAD: 88;

    --display-wght: 900;
    --display-wdth: 100;
    --display-opsz: 16;
    --display-GRAD: 88;

    --display-wgth-start: 100;
    --display-wgth-end: 900;

    /* can't use this per @font-face rule */
    font-synthesis: none;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('../fonts/Roboto-Flex/RobotoFlex[slnt,wdth,wght,opsz].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AmstelVar';
    src: url('../fonts/Amstelvar/Amstelvar-Roman[wdth,wght,opsz].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;

}

@font-face {
    font-family: 'AmstelVar';
    src: url('../fonts/Amstelvar/Amstelvar-Italic[wdth,wght,opsz].ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}



@keyframes animation-00-testing {
  from {
    font-variation-settings: 'wght' var(--display-wgth-start),
                             'wdth' var(--display-wdth),
                             'opsz' var(--display-opsz),
                             'GRAD' var(--display-GRAD);
  }
  to {
    font-variation-settings: 'wght' var(--display-wgth-end),
                             'wdth' var(--display-wdth),
                             'opsz' var(--display-opsz),
                             'GRAD' var(--display-GRAD);

  }
}


/**
 * vw 	1% of the viewport's width.
 * We can calculate with different widht/dimension units!
 * But we are not be able to remove the unit from a calculation
 * (e.g. by dividing by 1px). But we'd need a unitless number
 * to use it in other calculations) :-(
 */

h1, h2, h3 {
    font-family: "AmstelVar", monospace;
    font-size: 5rem;
    font-variation-settings: 'wght' var(--display-wght),
                             'wdth' var(--display-wdth),
                             'opsz' var(--display-opsz),
                             'GRAD' var(--display-GRAD);


    animation-name: animation-00-testing;
    animation-duration: 1s;
    /* this is one way to do it, moustly equivalent with the typetura "--tt-key": */
    /* window.addEventListener('resize',
        evt=>document.documentElement.style.setProperty('--animation-position',
                                         document.documentElement.offsetWidth))
     */
    /* full viewport width: 100vh*/
    --absolute-min-animation-pos: 440 ; /* offset */
    --absolute-max-animation-pos: 1400; /* actual max screen width that is considered */
    --relative-max-animation-pos: calc(var(--absolute-max-animation-pos) - var(--absolute-min-animation-pos));
    --relative-animation-pos: calc(var(--animation-position) - var(--absolute-min-animation-pos));
    --animation-progression: calc(var(--relative-animation-pos) / var(--relative-max-animation-pos));
    /* typetura does: calc(-1s * var(--tt-bind) / var(--tt-max))
     * --tt-max, default: 1600 (pixes screen width)
     * --tt-bind: element.style.setProperty('--tt-bind', element.offsetWidth);
     *
     * NOTE: the -1s part does two things:
     *       * use a negative delay to jump to the right position in the animation
     *       * add a unit (s, second) to the unitless --animation-progression
     */
    animation-delay: calc(-1s * var(--animation-progression));
    animation-play-state: paused;
    /*needed to apply --animation-position at 0 and 1
     I.e. the values of @keyframes "to" and "from" apply as styles
     before and after the animation duration.
     */
    animation-fill-mode: both;

    animation-timing-function: cubic-bezier(0.2,-2,2,2);
    animation-timing-function: linear;
}

.short-form-example {
  animation:
    var(--animation-name) /*animation-name*/
    1s /*animation-duration*/
    var(--animation-timing-function) /*animation-timing-function*/
    1 /* animation-iteration-count */
    calc(-1s * var(--animation-progression)) /*animation-delay*/
    both /*animation-fill-mode*/
    paused /*animation-play-state*/;
}


html, body {
    font-family: "RobotoFlex", monospace;
    xx-font-variation-settings: 'wght' var(--text-wght), 'wdth' var(--text-wdth), 'opsz' var(--text-opsz), 'GRAD' var(--text-GRAD);
}


