:root{
    /* can't use this per @font-face rule */
    font-synthesis: none;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('../fonts/Roboto-Flex/RobotoFlex[slnt,wdth,wght,opsz].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmstelVar';
    src: url('../fonts/Amstelvar/Amstelvar-Roman[wdth,wght,opsz].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'AmstelVar';
    src: url('../fonts/Amstelvar/Amstelvar-Italic[wdth,wght,opsz].ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

h1, h2, h3 {
    font-family: "AmstelVar", monospace;
}

html, body {
    font-family: "RobotoFlex", monospace;
}


/* essential layout rules copied from original wikipedia css*/
div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}
div.tleft, div.floatleft, table.floatleft {
    float: left;
    clear: left;
}

html body.mediawiki .mbox-small {
    clear: right;
    float: right;
    margin: 4px 0 4px 1em;
    box-sizing: border-box;
    width: 238px;
    font-size: 88%;
    line-height: 1.25em;
}


/* navigation */
#mw-navigation h2 {
    position: absolute;
    top: -9999px;
}
#mw-head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
#mw-panel {
    padding-left: 0.5em;
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
}


/* keep body out of the way of navigation */
.mw-body {
    padding: 1.25em 1.5em 1.5em 1.5em;
}
.mw-body, #mw-head-base, #left-navigation, #mw-data-after-content, .mw-footer {
    margin-left: 11em;
}
.mw-body {
    margin-top: -1px;
    border: 1px solid #a7d7f9;
        border-right-width: 1px;
    border-right-width: 0;
}
.mw-body, #mw-data-after-content {
    margin-left: 10em;
}
.mw-body, .parsoid-body {
    background-color: #ffffff;
    color: #202122;
    direction: ltr;
    padding: 1em;
}

.emptyPortlet {
    display: none;
}

#right-navigation {
    float: right;
    margin-top: 2.5em;
}

.vector-menu-tabs, .vector-menu-tabs a, #mw-head .vector-menu-dropdown h3 {
    background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/tab-separator.png?09d4b);
    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
}
.vector-menu-tabs {
    background-position: left bottom;
    float: left;
    height: 2.5em;
    padding-left: 1px;
}

vector-menu-tabs h3 {
    display: none;
}

#p-personal {
    right: 1em;
    position: absolute;
    top: 6px;
    z-index: 100;
}

#mw-head-base {
    margin-top: -5em;
    height: 5em;
}

#mw-page-base {
    background-color: #fbfbfb;
    background-image: -webkit-gradient(linear,right top,right bottom,color-stop(50%,#ffffff),color-stop(100%,#f6f6f6));
    background-image: -webkit-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: -moz-linear-gradient(top,#ffffff 50%,#f6f6f6 100%);
    background-image: linear-gradient(to bottom,#ffffff 50%,#f6f6f6 100%);
    background-position: bottom left;
    height: 5em;
}

#p-logo a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    width: 10em;
    height: 160px;
    text-decoration: none;
}
.mw-wiki-logo {
    background-image: url(./static/images/enwiki-2x.png);
    background-size: 135px auto;
}
