{%- assign _path_parts = page.path | split: "/" -%}
{%- assign _volume_path_part = _path_parts[-3] -%}
{%- capture volume -%}{%- include get-number subject=_volume_path_part -%}{%- endcapture -%}
{%- assign _issue_path_part = _path_parts[-2] -%}
{%- capture issue -%}{%- include get-number subject=_issue_path_part -%}{%- endcapture -%}
{%- capture relnav -%}{%- include emsquare-relative-nav.md -%}{%- endcapture -%}
<!DOCTYPE html>
<html class="page_content-item client-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {%- include emsquare-head.html volume=volume issue=issue -%}
  </head>
  <body>
    <div class="container-toggle-user_settings">
        <button title="Toggle User Settings Widget" class="toggle-user_settings">⚙</button>
    </div>
    <div class="insert_user_settings"></div>
    <header>
        <span class="title">Emsquare&nbsp;— Volume&nbsp;{{volume}}&nbsp;— Issue&nbsp;{{issue}}</span>
    </header>


    <nav class="relative-navigation">
        {% comment %}
        TODO: will have to show inly previous link, if available.
        {{ relnav | markdownify }}
        {% endcomment %}
    </nav>

    <main class="{{ page.class }}">
      <article class="runify-01">
        <h1>
            {% if page.headline -%}
                {{ page.headline }}
            {%- else -%}
                {{ page.title }}
            {%- endif -%}
        </h1>
        {{ content }}
        {% include emsquare-shorts %}
      </article>
    </main>
    <nav class="relative-navigation">
        {% comment %}
        TODO: will have to show inly next link, if available.
        {{ relnav | markdownify }}
        {% endcomment %}
    </nav>

    <footer>
          {%- capture footer -%}{%- include emsquare-footer.md -%}{%- endcapture -%}
          {{ footer | markdownify }}
    </footer>
  </body>
</html>
